@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body{
    font-family: 'Work Sans';
    min-width: 800px;
    width: auto !important;
    width:800px;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*CSS du header*/

header{
    display: flex;
    background: #2f2f2f;
    padding: 0.9375em 2.8125em 0em;
}

header nav{
    padding-left: 3vw;
    padding-right: 1em;
    width: 92%;
}

.logo{
    height: 8.875em;
}

header nav img{
    width: 30px;
}

header nav input{
    width: 46vw;
    height: 2.5em;
    float: left;
    border: 1px solid #676161;
    border-radius: 10px 0px 0px 10px;
}

header nav button{
    width: 3.8vw;
    height: 2.5em;
    float: left;
    background: #E4E3E4;
    border: 1px solid #676161;
    box-sizing: border-box;
    border-radius: 0px 10px 10px 0px;
}

header nav li{
    display: inline;
    padding: 0;
}

header nav ul li a {
    color: #71ABDB;
    text-decoration: none;
    display: inline;
}

header nav ul li a:hover{
    color: #71ABDB;
    text-decoration: none;
}

.ligne1{
    padding-top: 1em;
    padding-bottom: 1em;
}

.ligne1 ul{
    text-align: center;
}

.ligne1 a{
    font-size: 26px;
}

.ligne1 li:nth-child(3){
    float: right;
}

.ligne1 li:nth-child(2){
    margin-right: auto;
    margin-left: auto;
}

.ligne2{
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.ligne2 a{
    font-size: 23px;
}

.ligne2 li:nth-child(3){
    float: right;
}

.ligne2 li:nth-child(2){
    margin-left: 2.5em;
}

/*CSS pour le footer*/

footer { 
    background-color: #2F2F2F; 
    color: #71ABDB;
    padding: 0.9375em 3.8125em;
}

.partie1{
    display: flex;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #71ABDB;
}

footer h6 a:hover{
    text-decoration: none;
    color: #71ABDB;
}

footer h6{
    font-size: 24px;
}

footer p{
    font-size: 14px;
}

.footer-copyright { 
    color: #fff; 
    font-size: 15px;
    text-align: center;
}

footer .Contact{
    text-align: right;
}

/*CSS pour la page FAQ*/

.faq{
    margin-top: 80px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 90px;
}

/*CSS pour le carrousel de la page d'accueil*/

.carroussel{
    padding: 6em 1em 4.5em 1em;
    display: flex;
    justify-content: center;
}

#carrousel img {
    width: 82vw;
}

.carroussel a img{
    margin: 11.9vw 1.5em;
}

/*CSS pour les catégories de la page d'accueil*/

.cat{
    padding: 0em 5vw;
}

.cat .arrow{
    display: flex;
}

.cat h4{
    font-weight: bold;
    font-size: 30px;
    margin-right: 30px;
}

.cat .row{
    padding: 2em 3em;
}

.cat .arrow{
    font-size: 24px;
}

.cat .caption{
    font-size: 20px;
}

.cat a{
    text-decoration: none;
    color: #2f2f2f;
}


/*Vitrine catégories et achats*/

.vitrine{
    padding: 4vw;
}

.vitrine h1{
    font-size: 30px;
    color: #71ABDB;
}

.vitrine h2{
    font-size: 25px;
    padding: 3vw;
}

.tableObjet{
    display: table-row;
    width: 100%;
}

.tablerow{
    display: flex;
}

/*Article*/
.objet{
    width: 17vw;
    padding: 1vw 3vw;
    margin: 1.5vw 3vw;
    border:1px solid #000000;
    text-decoration: none;
    color: #000000;
}

.objet:hover{
    text-decoration: none;
    color: #000000;
}

.objet img {
    width: 11vw; 
}
.objet p{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.objet .titre{
    height: 36px;
}

.objet .prix{
    float: right;
    text-align: right;
}

/*Affichage pour un article avec sa  description*/

#pageArticle a{
    text-decoration: none;
    color: #71ABDB;
    font-weight: bold;
}
.article{

    margin: auto;
    border: 1px solid #A7B3B4;
    width: 74vw;
    height: 500px;
    padding: 3.4vw 0px 0px 3.4vw;   
}

.article h4{
    font-weight: bold;
    color: #71ABDB;
}
.article .image{
    margin: 0px 0px 0px 3.1vw;
    background-color: white;
    float: left;
    text-align: center;

    
}

.article .image img{
   
    width: 310px; 
    
}
 .sousImages ul li{
    display: inline;
}
.article .image .sousImages img{
    margin: 5px 0px 0px 0px;
    width: 40px;
    text-align: center;
    border: 1px solid black;
   
    
}
.text{
    margin: 0px 0px 0px 3.8vw;
    background-color: white;
    float: left;
    
    
}


.article button{
    width: 13.8vw;
    background-color: #2F2F2F;
    border: 2px solid #71ABDB;
    color: #71ABDB;
    text-align: center;
    border-radius: 20px;
    font-size: 1.3vw;
    margin: 1.3vw;
}

/*Formulaire connexion/inscription*/
.en-tete{
    background: #2f2f2f;
    padding: 0.9375em 2.8125em 0em;
}

.en-tete .logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display:flex;
    margin: 25px;
}

#col{
    flex: 1; 
    padding: 2em;
    margin: 15px;
}
.connexion{
    border-right: 1px solid #000;
    margin-right:20px;
}

.row form input, select{
    margin-left: 40px;
}
.row form a{
    text-decoration: none;
    color: black;
}
.row form label{
    font-size: 12px;
}

.row h1{
    text-align: center;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.clause:hover{
    color: #71ABDB;
    cursor: pointer;
}

/*FIN Formulaire connexion/inscription*/

/*Responsive*/ 

@media only screen and (max-width: 1330px){
    nav button{
        width: 2.5em;
    }

    nav input{
        width: 36vw;
    }
    .objet .titre{
        height: 54px;
    }
}

@media only screen and (max-width: 1110px){
    nav input{
        width: 17vw;
    }

    .vitrine{
        padding: 2.775em;        
    }

    .objet{
        width: 10em;
        padding: 0.69375em 1.15625em;
        margin: 1em 2.5vw;
    }

    .objet img {
        width: 6.6875em; 
    }
    .objet .titre{
        height: 72px;
    }
}

@media only screen and (max-width: 800px){
    nav input{
        width: 7.625em;
    }
    nav {
        padding-left: 1.5em;
    }
    #carrousel img {
        width: 656px;
    }
    .carroussel a img{
        margin-top: 95.2px;
    }

    .vitrine{
        padding: 1.775em;        
    }

    .vitrine h2{
        padding: 1.25em;
    }

    .objet{
        margin: 1em 0.95em;
    }
}